AuthType GSSAPI
AuthName "Kerberos site authentication"
GssapiUseS4U2Proxy On
GssapiCredStore keytab:/var/www/apache.keytab
GssapiCredStore client_keytab:/var/www/apache.keytab
#GssapiDelegCcacheDir KEYRING:test
#GssapiDelegCcacheDir FILE:/var/run/apache2/clientcaches
GssapiDelegCcacheDir /var/run/apache2/clientcaches
GssapiDelegCcacheUnique On

GssapiUseSessions On
Session On
SessionCookieName session path=/;httponly;

Require valid-user
