<!doctype html public>
<html>
	<head>
		<title>Editing {{ file.name }}</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
		{% load crispy_forms_tags %}
	</head>
	<body>
		<div class="col-md-12" style="max-width:600px">
			<h1>Editing {{ file.name }}</h1>
			<form action="" method="post">
				{% csrf_token %}
				{{ form|crispy }}
				<br>
				<input type="submit" value="Update">
			</form>
			<p><a href="{% url 'files:file' file.id %}">Cancel edit</a></p>
			<p><a href="{% url 'files:index' %}">Back to file browser</a></p>
		</div>
	</body>
</html>
