<!doctype html>
<html>
	<head>
		<title>File browser</title>
	<script type="text/javascript">
		function toggleArea(area) {
			var block = document.getElementById(area);
			if (block.style.display === "none") {
				block.style.display = "block";
			} else {
				block.style.display = "none";
			}
		}
	</script>
	</head>
	<body>
		<h1>File browser</h1>
		<p>You are logged in as {{user}}</p>
		<ul>
			{% for dir, subfiles, subdirs in directories %}
				{% include "files/listing.html" with root=dir files=subfiles dirs=subdirs %}
			{% endfor %}
		</ul>
		<p><a href="{% url 'files:newdir_root' %}">Create new directory</a></p>
	</body>
</html>
