<li><a href="javascript:toggleArea('dir_{{ root.id }}')"><strong>{{ root.name }}</strong></a></li>
<div id="dir_{{root.id}}" style="display:none">
<ul>
{% for dir, subfiles, subdirs in dirs %}
	{% include "files/listing.html" with root=dir files=subfiles dirs=subdirs %}
{% endfor %}
{% for f in files %}
<li> <a href="{% url 'files:file' f.id %}">{{ f.name }}</a></li>
{% endfor %}
<li><a href="{% url 'files:newfile' root.id %}"><em>Create new file</em></a></li>
<li><a href="{% url 'files:newdir' root.id %}"><em>Create new directory</em></a></li>
<li><a href="{% url 'files:directory' root.id %}"><em>Edit directory</em></a></li>
</ul>
</div>
